#container
{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin-top : 50px;
}

.nav
{
    width: 100%;
    justify-content: left;
    border : 1px 0px 1px 0px solid lightgrey;
    box-shadow: 1px 1px 1px 1px lightgrey;
    margin-bottom: 20px;
}

.card:hover
{
    box-shadow : 0 0 30px rgba(0,0,0,.6)
}

.card:hover div .hiddenButton
{
    visibility: visible!important;
}

@media screen and (min-width : 1200px)
{
    #container
    {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width : 900px) and (max-width: 1200px)
{
    #container
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width : 600px) and (max-width: 900px)
{
    #container
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 600px)
{
    #container
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

